<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <add key="Database.Server" value="sql.ikachi.com,3341" />
    <add key="Database.DbName" value="ehospitalNDC" />
    <add key="Database.UserId" value="attendanceconnect" />
    <add key="Database.Password" value="QXR0ZW5kYW5jZUBoeWVjLnZu" />

    <add key="ZKTeco.IP" value="192.168.10.21" />
    <add key="ZKTeco.Port" value="4370" />
    <add key="ZKTeco.Key" value="0" />

    <add key="Sync.DeviceCode" value="hyec01" />
    <add key="Sync.IntervalHours" value="2" />
    <add key="Sync.StartTime" value="08:30" />
    <add key="Sync.EndTime" value="20:00" />

    <add key="Logging.LogPath" value="./logs/attendance-{Date}.log" />
    <add key="Logging.LogLevel" value="Information" />
  </appSettings>
</configuration>
